html, body
{
    background-color: #eee;
    min-height: 100vh;
    position: relative;

}

.main, .container-fluid
{
    height: 100%;
}


/* Header */

.header
{
    color: white;
    background-color: #607D8B;
    height: 120px;
    top: 0px;
    z-index: 1;
}


/* Navigation Bar */

.navbar
{
    padding: 0px;
    margin: 0px;

}

.navbar ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li
{
    transition: color 0.3s ease;
    display: inline;
    margin: 10px;
}

.navbar li:hover
{
    color: #DDDDDD;
}

.navbar a, .navbar a:hover
{
    color: inherit;
}

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
ul.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* Search Bar */

.searchbar
{

}

.gsc-control-cse
{
    background-color: #607D8B !important;  /* Set background color */
    border: none !important;               /* Remove border */
    color: black !important;               /* Set text color to black */
}

input.gsc-search-button
{
    background-color: #DDDDDD !important;  /* Set button color to gray */
    color: black !important;               /* Set button text color to black */
}

.gsc-adBlock
{
    display: none !important;  /* Remove Google Search Ads */
}

#gsc-i-id1
{
    background: white !important;   /* Remove Google Logo */
    text-indent: unset !important;  /* Remove Indent for Google Logo */
}


/* Main Page Content */

.main
{
    min-height: 800px;
}


/* Chapter and/or section Menu */

.menu
{
    background-color: #ddd;
    min-height: 800px;
    padding-top: 15px;
}

@media screen and (max-width: 991px )
{
    .menu
    {
        min-height: auto;
    }
}

.menu ul
{
    margin: 0px;
    padding-left: 10px;
    list-style-type: none;
}

.menu-header .col-sm-4
{
    padding: 2px;
    margin: 0px;
}

.menu-header p
{
    padding: 0px;
    margin: 0px;
    height: 80px;
    text-align: center;
    border: grey solid 2px;
    border-radius: 10px;
}

.menu-content
{
   padding-top:2px;
   padding-left: 20px;
}


/* Content */

.content
{
    border:none;
    min-height: 800px;/*same as .menu*/
    margin-bottom: 60px;/*prevents iframe from being overlapped by footer.*/
}

.title
{
    font-size:30px;
    border-bottom:solid; /* underline title */
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-of-contents
{
    border:solid;
    display:inline-block; /* keeps outline from stretching length of page. */
    margin:5px;
    padding:5px;
}

.subtitle
{
  font-size:20px;
  border-bottom:solid; /* underline subtitle */
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph
{

}


/* Footer */

.footer
{
    color: white;
    background-color: #555;
    height: 60px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
